<ng-container *ngIf="loading">
  <app-show-loading-ref></app-show-loading-ref>
</ng-container>

<!-- No Reviews Found -->
<ng-container *ngIf="reviews.length === 0 && !loading">
  <div class="d-flex flex-column align-items-center justify-content-center custom-height bg-dark-custom">
    <div class="text-center shadow-sm p-5 rounded bg-white">
      <h2 class="text-primary mb-3">No Reviews Found</h2>
      <p class="text-muted mb-4">Add a review to help others.</p>
      <button mat-raised-button color="primary" (click)="createReview($event)" class="px-4 py-2"
              matTooltip="Add Review">
        <mat-icon class="me-2">add</mat-icon>
        Review
      </button>
    </div>
  </div>
</ng-container>

<!-- Review Form -->
<ng-container *ngIf="currentStep === 1">
  <div class="container py-5 mb-5">
    <h2 class="text-center text-primary mb-4">{{ reviewId ? 'Edit Review' : 'Add New Review' }}</h2>
    <form #reviewForm="ngForm" class="bg-light p-4 rounded shadow">
      <div class="row g-3">
        <!-- Rating -->
        <div class="col-md-4">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Rating *</mat-label>
            <mat-select name="rating" [(ngModel)]="review.rating" required>
              <mat-option *ngFor="let rate of [1, 2, 3, 4, 5]" [value]="rate">{{ rate }}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>

        <!-- Review Text -->
        <div class="col-md-8">
          <mat-form-field appearance="outline" class="w-100">
            <mat-label>Review Text</mat-label>
            <textarea matInput rows="3" name="reviewText" [(ngModel)]="review.reviewText"></textarea>
          </mat-form-field>
        </div>
      </div>

      <!-- Buttons -->
      <div class="text-center mt-4">
        <button mat-raised-button color="warn" class="me-2 px-4 py-2" (click)="cancel()">Cancel</button>
        <button mat-raised-button color="primary" class="px-4 py-2" (click)="saveReview(reviewForm)"
                [disabled]="reviewForm.invalid">
          {{ reviewId ? 'Update' : 'Submit' }}
        </button>
      </div>
    </form>
  </div>
</ng-container>

<!-- Review List -->
<ng-container *ngIf="reviews.length > 0 && !loading">
  <div class="container py-5 mb-5">
    <h2 class="text-center text-primary mb-4">Reviews</h2>
    <div class="row gx-4 gy-3">
      <ng-container *ngFor="let review of reviews">
        <div class="col-md-6 col-lg-4">
          <mat-card class="shadow-sm p-4 rounded responsive-card">
            <h4 class="text-primary">Rating: {{ review.rating }}</h4>
            <p class="text-muted">{{ review.reviewText || 'No Review Text Available' }}</p>
            <hr/>
            <div class="d-flex justify-content-between align-items-center">
              <p class="mb-0"><strong>By User:</strong> {{ review.userId }}</p>
            </div>
          </mat-card>
        </div>
      </ng-container>
    </div>
  </div>
</ng-container>
