<div class="row gx-0 px-4 vh-100 h-100 overflow-y-auto my-5">
  <div class="col-12 mb-5">
    <h5 class="font-weight-semi-bold">Website and Service Terms and Conditions - General</h5>
    <p>The matchmaking website ("Website") and related services (together with the Website, the "Service") are operated
      by
      matchmaking Pvt. Ltd. ("matchmaking", "us" or "we"). Access and use of the Service is subject to the
      following Terms and Conditions of Service ("Terms and Conditions"). By accessing or using any part of the Service,
      you represent that you have read, understood, and agree to be bound by these Terms and Conditions including any
      future modifications. matchmaking may amend, update or change these Terms and Conditions. If we do this, we will
      post
      a notice that we have made changes to these Terms and Conditions on the Website for at least 7 days after the
      changes are posted and will indicate at the bottom of the Terms and Conditions the date these terms were last
      revised. Any revisions to these Terms and Conditions will become effective the earlier of (i) the end of such
      7-day period or (ii) the first time you access or use the Service after such changes. If you do not agree to abide
      by these Terms and Conditions, you are not authorized to use, access or participate in the Service.
    </p>

    <br>
    <h5 class="font-weight-semi-bold">Description of Website and Service</h5>
    <p>
      The Service allows users to prepare for any examination online by offering (a) Test Series e-module (b) Test
      Series e-module printed version and (c) evaluation services as opted/selected by Users. Users interested in
      learning or practicing are presented with different types of educational activities. matchmaking may, in its sole
      discretion and at any time, update, change, suspend, make improvements to or discontinue any aspect of the
      Service, temporarily or permanently.
    </p>
    <br>
    <h5 class="font-weight-semi-bold">Registration</h5>
    <p>
      In connection with registering for and using the Service, you agree (i) to provide accurate, current and complete
      information about you and/or your organization as requested by matchmaking; (ii) to maintain the confidentiality of
      your password and other information related to the security of your account; (iii) to maintain and promptly update
      any registration information you provide to matchmaking while registering or during your usage of matchmaking's
      services, to keep such information accurate, current and complete; (iv) to be fully responsible for all use of
      your account and for any actions that take place through your account; (v) By signing up on matchmaking you deemed
      to
      have given your consent to be contacted by us via phone calls and/or SMS notifications and offer you our services,
      imparting product knowledge, offer promotional, offers running on website/app, offers offered by the associated
      third parties and also order/shipment/delivery related updates, irrespective of the fact if also you have
      registered yourself under DND or DNC or NCPR service, you still authorize matchmaking to give you a call for the
      above mentioned purposes. (vi) You are required to provide your examination registration information for the
      purpose of our internal estimation of successful candidates. If you do not provide the information, your partial
      or full access to the website content and/or other matchmaking services may be blocked. No refund will be provided
      in
      such scenario. We assure you that we will not use this information for any other purpose or share this information
      with any third party.
    </p>
    <br>
    <h5 class="font-weight-semi-bold">Subscriptions</h5>
    <p>
      You may choose to purchase a monthly or annual subscription and download the Application through a third party
      platform. Alternatively, you may subscribe to our Services through our website and then download the related
      Application through a third party platform.
    </p>
    <p>
      When you purchase a subscription, payment may be processed by third parties who act on our behalf or directly by
      the third party platform (e.g. Apple or Google). Rates for services are listed in the Application and in the
      applicable app store. matchmaking reserves the right to modify its rates at any time and/or to offer special
      promotions. All payments are non-refundable. Subscription payments will auto-renew unless cancelled in accordance
      with the Terms of Service. If you purchased the Application through a third party platform and have a billing
      dispute, you must contact the respective third party platform to seek a remedy. If you purchased a subscription to
      our Services through our Online Services, please <a href="https://matchmaking.com/about-us">Contact Us</a>.
    </p>
    <p>
      Free Trial. We may provide a free trial period during which you can use all features of the Services for a limited
      period of time. You acknowledge and agree that your free-trial subscription will automatically renew as a paid
      subscription unless you cancel before the end of the trial period in accordance with the <a href="#cancellation"
                                                                                                  ng-click="scrollToCancellation()">Cancellation</a>
      section of the Terms of Service.
    </p>
    <p>
      Automatic Renewal. Paid subscriptions to our Services are auto-renewing. You will be charged the stated
      subscription amount for the subscription period upon completion of your registration and submission of your
      payment information or, if applicable, at the end of your free trial period if you have not canceled at least 24
      hours in advance of the expiration of the trial period. You hereby agree to and authorize automatic (recurring)
      billing, and you agree to pay the charges made to your account in connection therewith. You will be billed at the
      then-current applicable subscription price plus any applicable taxes. Payments for renewal subscriptions are
      processed using the same billing cycle as your current subscription. Subscription fees may change at any time, to
      the fullest extent permitted under applicable law. Your subscription, and monthly billing of your account, will
      continue indefinitely until cancelled by you in accordance with the <a href="#cancellation"
                                                                             ng-click="scrollToCancellation()">Cancellation</a>
      section of the Terms of Service.
    </p>
    <br>
    <h5 class="font-weight-semi-bold">Your Representations and Warranties</h5>
    <p> You represent and warrant to matchmaking that your access and use of the Service will be in accordance with these
      Terms and Conditions and with all applicable laws, rules and regulations of Constitution of India and any other
      relevant jurisdiction, including those regarding online conduct or acceptable content, and those regarding the
      transmission of data or information exported from India and/or the jurisdiction in which you reside. You further
      represent and warrant that you have created or own any material you submit to matchmaking and that you have the
      right
      to grant us a license to use that material.
    </p>
    <br>
    <h5 class="font-weight-semi-bold">Inappropriate Use</h5>
    <p>
      You will not upload, display or otherwise provide on or through the Service any content that: (i) is libelous,
      defamatory, abusive, threatening, harassing, hateful, offensive or otherwise violates any law or infringes upon
      the right of any third party (including copyright, trademark, privacy, publicity or other personal or proprietary
      rights); or (ii) in matchmaking's sole judgment, is objectionable or which restricts or inhibits any other person
      from using the Service or which may expose matchmaking or its users to any harm or liability of any kind.
    </p>

    <br>
    <h5 class="font-weight-semi-bold">Indemnification of matchmaking</h5>
    <p>
      You agree to defend, indemnify and hold harmless matchmaking and its directors, officers, employees, contractors,
      agents, suppliers, licensors, successors and assigns, from and against any and all losses, claims, causes of
      action, obligations, liabilities and damages whatsoever, including attorneys' fees, arising out of or relating to
      your access or use of the Service, any false representation made to us (as part of these Terms and Conditions or
      otherwise), your breach of any of these Terms and Conditions,or any claim that any service we provide to you is
      inaccurate, inappropriate or defective in any way whatsoever.
    </p>

    <br>
    <h5 class="font-weight-semi-bold">No Representations or Warranties</h5>
    <p>
      The service, including all images, audio files and other content therein, and any other information, property and
      rights granted or provided to you by matchmaking are provided to you on an "as is" basis. matchmaking and its
      suppliers
      make no representations or warranties of any kind with respect to the service, either express or implied, and all
      such representations and warranties, including warranties of merchantability, fitness for a particular purpose or
      non-infringement, are expressly disclaimed. Without limiting the generality of the foregoing, matchmaking does not
      make any representation or warranty of any kind relating to accuracy, service availability, completeness,
      informational content, error-free operation, results to be obtained from use, or non-infringement. Access and use
      of the service may be unavailable during periods of peak demand, system upgrades, malfunctions or scheduled or
      unscheduled maintenance or for other reasons. Some jurisdictions do not allow the exclusion of implied warranties,
      so the above exclusion may not apply to you.
    </p>

    <br>
    <h5 class="font-weight-semi-bold">Limitation on types of Damages/Limitation of Liability</h5>
    <p>
      In no event will matchmaking be liable to you or any third party claiming through you (whether based in contract,
      tort, strict liability or other theory) for indirect, incidental, special, consequential or exemplary damages
      arising out of or relating to the access or use of, or the inability to access or use, the service or any portion
      thereof, including but not limited to the loss of use of the service, inaccurate results, loss of profits,
      business interruption, or damages stemming from loss or corruption of data or data being rendered inaccurate, the
      cost of recovering any data, the cost of substitute services or claims by third parties for any damage to
      computers, software, modems, telephones or other property, even if matchmaking has been advised of the possibility
      of
      such damages. matchmaking's liability to you or any third party claiming through you for any cause whatsoever, and
      regardless of the form of the action, is limited to the amount paid, if any, by you to matchmaking for the service
      in
      the 12 months prior to the initial action giving rise to liability. This is an aggregate limit. The existence of
      more than one claim hereunder will not increase this limit.
    </p>

    <br>
    <h5 class="font-weight-semi-bold">Termination</h5>
    <p>
      matchmaking may terminate your access and use of the Service immediately at any time, for any reason, and at such
      time you will have no further right to use the Service. You may terminate your matchmaking account at any time by
      following the instructions available through the Service. The provisions of these Terms and Conditions relating to
      the protection and enforcement of matchmaking's proprietary rights, your representations and warranties, disclaimer
      of representations and warranties, release and indemnities, limitations of liability and types of damages,
      ownership of data and information, governing law and venue, and miscellaneous provisions shall survive any such
      termination.
    </p>

    <br>
    <h5 class="font-weight-semi-bold">Proprietary Rights in Service Content and Activity Data</h5>
    <p>
      All content available through the Service, including designs, text, graphics, images, information, software,
      audio, e-books,and other files, and their selection and arrangement (the "Service Content") along with printed
      version of e-books, are the proprietary property of matchmaking or its licensors. No Service Content along with
      printed version of e-books may be modified, copied, distributed, framed, reproduced, republished, downloaded,
      scraped, displayed, posted, transmitted, or sold in any form or by any means, in whole or in part, other than as
      expressly permitted in these Terms and Conditions. You may not use any data mining, robots, scraping or similar
      data gathering or extraction methods to obtain Service Content. As between you and matchmaking, all data and
      information generated from your access and use of the educational activities made available on or through the
      Service, including translated content generated by you (collectively, the "Activity Data"), shall be exclusively
      owned by matchmaking, and you shall not have any right to use such Activity Data except as expressly authorized by
      these Terms and Conditions. Activity Data will not include material you submit for translation or any resulting
      translation. By using the Service, you hereby assign to matchmaking any and all rights, title and interest,
      including
      any intellectual property rights or proprietary rights, in the Activity Data. All rights of matchmaking or its
      licensors that are not expressly granted in these Terms and Conditions are reserved to matchmaking and its
      licensors.
    </p>

    <br>
    <h5 class="font-weight-semi-bold">Trademarks</h5>
    <p>
      "matchmaking" and all other trademarks, service marks, graphics and logos used in connection with the Service are
      trademarks or service marks of matchmaking or their respective owners. Access and use of the Service does not grant
      or provide you with the right or license to reproduce or otherwise use the matchmaking name or any matchmaking or
      third-party trademarks, service marks, graphics or logos.
    </p>

    <br>
    <h5 class="font-weight-semi-bold">Privacy</h5>
    <p>
      Use of the Service is also governed by our Privacy Policy, a copy of which is located at
      http://www.matchmaking.com/privacy. By using the Service, you consent to the terms of the Privacy Policy.
    </p>

    <br>
    <h5 id="cancellation" class="font-weight-semi-bold">Cancellation Policy</h5>
    <ul>
      <li>Cancellations will be considered only if the cancellation request is made within 24 hours of placing the
        order. However, the cancellation request will not be entertained if the orders have already been completed or if
        we have initiated the process of shipping either by ourselves or through the vendors/merchants/representatives
        whom we may appoint from time to time.
      </li>
      <li>No cancellations are allowed for products on which matchmaking marketing team has given special offers for
        various purposes including but not limited to special occasions like New Year, festivals, specific examination
        etc. These are limited validity offers and therefore cancellations are not possible.
      </li>
      <li>In case you feel that the product received is not as shown on the site and/or as per your expectations, you
        must bring it to the notice of our customer service within 24 hours of receiving the product. The customer
        service team, after looking into your complaint, will make an appropriate decision.
      </li>
    </ul>

    <br>
    <h5 class="font-weight-semi-bold">Refund Policy</h5>
    <ul>
      <li>The refund is applicable for our products/services only until it’s dispatched or the login details for online
        access to test material etc. are disclosed/dispatched to you.
      </li>
      <li>Please include your order number (sent to you via sub after your order) and do tell us why you’re requesting
        a refund. We take customer feedback very seriously and use it to constantly improve our products and quality of
        service.
      </li>
      <li>All refunds, if eligible, will be processed within 14 (Fourteen) business days of receiving cancellation
        request and mode of refund would be same through which the original transaction was done.
      </li>
    </ul>

    <br>
    <h5 class="font-weight-semi-bold">Notice for Claims of Copyright Violations and Agent for Notice</h5>
    <p>If you are a copyright owner and have a good faith belief that any material available through the service
      infringes upon your copyrights, you may submit a copyright infringement notification to matchmaking pursuant to the
      Digital Millennium Copyright Act by providing us with the following information in writing:</p>
    <ul>
      <li>an electronic or physical signature of the copyright owner or the person authorized to act on behalf of the
        owner of the copyright interest;
      </li>
      <li>a description of the copyrighted work that you claim has been infringed;</li>
      <li>a description of where the material that you claim is infringing is located on the Service, with enough detail
        that we may find it on the Service;
      </li>
      <li>your address, telephone number, and sub address;</li>
      <li>a statement by you that you have a good faith belief that the disputed use is not authorized by the copyright
        owner, its agent, or the law; and
      </li>
      <li>a statement by you, made under penalty of perjury, that the above information in your notice is accurate and
        that you are the copyright owner or are authorized to act on the copyright owner's behalf.
      </li>
    </ul>

    <br>
    <p>
      Please consult your legal counsel for further details or see Section 51 of The Copyright Act, 1957. matchmaking's
      Agent for Notice of claims of copyright infringement can be reached as follows:
      By sub: <a class="gpmpt"
                   href="mailto:support@matchmaking.com?subject=Report Abuse">support&#64;matchmaking.com</a>
    </p>

    <br>
    <p class="font-weight-semi-bold">Governing Law and Arbitration</p>
    <p>
      These Terms and Conditions, its subject matter and matchmaking's and your respective rights under these Terms and
      Conditions shall be governed by the laws of India and you agree that the courts of Mumbai will have exclusive
      jurisdiction over any dispute (contractual or non-contractual) concerning these terms.
    </p>

    <br>
    <p class="font-weight-semi-bold">Miscellaneous</p>
    <p>
      These Terms and Conditions constitute the entire agreement between matchmaking and you concerning the subject
      matter
      hereof. In the event that any of the Terms and Conditions are held by a court or other tribunal of competent
      jurisdiction to be unenforceable, such provisions shall be limited or eliminated to the minimum extent necessary
      so that these Terms and Conditions shall otherwise remain in full force and effect. A waiver by matchmaking or you
      of
      any provision of these Terms and Conditions or any breach thereof, in any one instance, will not waive such term
      or condition or any subsequent breach thereof. matchmaking may assign its rights or obligations under these Terms
      and
      Conditions without condition. These Terms and Conditions will be binding upon and will inure to the benefit of
      matchmaking and you, and matchmaking's and your respective successors and permitted assigns.
    </p>

    <br>
    <p class="font-weight-semi-bold mb-5">
      Last revised on 24th November 2024
    </p>
  </div>

</div>
