<div class="container-fluid">
  <div class="row">
    <div class="col-12 border-danger shadow-lg rounded-2">

      <mat-drawer-container class="bg-light">
        <!-- Drawer Section -->
        <mat-drawer #drawer class="styled-drawer" mode="side" [opened]="!commBus.isMobileView()">
          <div class="link-container mt-4">
            <ul class="nav flex-column">
              <li class="menu-title">Dashboard</li>

              <li class="nav-item">
                <button
                  (click)="commBus.isMobileView() && drawer.close()"
                  class="btn btn-primary w-100 mb-2"
                  [routerLink]="ApplicationRoutingEnum.HOME"
                  routerLinkActive="active">
                  <mat-icon class="me-2">home</mat-icon>
                  Home
                </button>
              </li>

              <li class="nav-item">
                <button
                  (click)="commBus.isMobileView() && drawer.close()"
                  class="btn btn-primary w-100 mb-2"
                  [routerLink]="ApplicationRoutingEnum.INSTANCE_MEETING"
                  routerLinkActive="active">
                  <mat-icon class="me-2">flash_on</mat-icon>
                  Instant Meeting
                </button>
              </li>

              <li class="nav-item">
                <button
                  (click)="commBus.isMobileView() && drawer.close()"
                  class="btn btn-primary w-100 mb-2"
                  [routerLink]="ApplicationRoutingEnum.SCHEDULED_MATCH"
                  routerLinkActive="active">
                  <mat-icon class="me-2">event</mat-icon>
                  Schedule Meeting
                </button>
              </li>

            </ul>
          </div>
        </mat-drawer>

        <!-- Main Content Section -->
        <mat-drawer-content class="mat-drawer-content">
          <router-outlet></router-outlet>
          <!--          hello world-->
        </mat-drawer-content>
      </mat-drawer-container>

      <!--      &lt;!&ndash; Floating Action Button &ndash;&gt;-->
      <app-fab-button-dashboard [drawer]="drawer"></app-fab-button-dashboard>

    </div>
  </div>
</div>

